--index-url https://yektanet:nh8E3mbg9F7qSsBsF7bE@artifactory.yektanet.tech/artifactory/api/pypi/pypi/simple
amqp==5.0.9
appdirs==1.4.4
APScheduler==3.8.1
asgiref==3.4.1
oauth2client==4.1.3
beautifulsoup4==4.10.0
billiard==3.6.4.0
cachetools==5.0.0
celery==5.2.2
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.9
click==8.0.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
coreapi==2.3.3
coreschema==0.0.4
cryptography==36.0.1
defusedxml==0.7.1
Deprecated==1.2.13
Django==4.0
django-admin-interface==0.19.1
django-admin-list-filter-dropdown==1.0.3
django-cors-headers==3.10.1
django-filter==21.1
django-hijack==3.1.4
django-jalali-date==1.0.1
django-redis==5.2.0
django-simple-history==3.0.0
django-templated-mail==1.1.1
djangorestframework==3.13.1
djangorestframework-simplejwt==4.8.0
django-user-agents==0.4.0
drf-yasg==1.20.0
fcache==0.4.7
grpcio==1.43.0
grpcio-tools==1.43.0
idna==3.3
itypes==1.2.0
jdatetime==3.7.0
Jinja2==3.0.3
kavenegar==1.1.2
kombu==5.2.2
MarkupSafe==2.0.1
mmh3==3.0.0
oauthlib==3.1.1
Pillow==9.0.1
prompt-toolkit==3.0.24
protobuf==3.19.1
psycopg2-binary==2.9.2
pycparser==2.21
PyJWT==2.3.0
python-decouple==3.5
python3-openid==3.2.0
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
qrcode==7.3.1
raven==6.10.0
redis==4.0.2
requests==2.26.0
requests-oauthlib==1.3.0
six==1.16.0
social-auth-app-django==4.0.0
social-auth-core==4.1.0
sqlparse==0.4.2
tronpy==0.2.6
tzdata==2021.5
tzlocal==4.1
UnleashClient==4.4.1
uritemplate==4.1.1
urllib3==1.26.7
user-agents==2.2.0
vine==5.0.0
wcwidth==0.2.5
web3==5.27.0
websocket-client==1.2.3
wrapt==1.13.3
yekta-config==0.2.1
yekta-metrics==4.0.0
