--index-url https://yektanet:nh8E3mbg9F7qSsBsF7bE@artifactory.yektanet.tech/artifactory/api/pypi/pypi/simple

amqp==5.0.9
celery==5.2.2
cryptography==36.0.1
Django==4.0
django-admin-interface==0.19.1
django-admin-list-filter-dropdown==1.0.3
django-colorfield==0.7.2
django-cors-headers==3.10.1
django-filter==21.1
django-hijack==3.1.4
django-jalali-date==1.0.1
django-redis==5.2.0
django-simple-history==3.0.0
django-user-agents==0.4.0
djangorestframework==3.13.1
djangorestframework-simplejwt==4.8.0
drf-yasg==1.20.0
grpcio==1.43.0
grpcio-tools==1.43.0
gunicorn==20.1.0
jdatetime==3.7.0
jsonschema==3.2.0
kavenegar==1.1.2
kombu==5.2.2
Pillow==9.0.1
prometheus-client==0.9.0
protobuf==3.19.1
psycopg2-binary==2.9.2
PyJWT==2.3.0
python-decouple==3.5
qrcode==7.3.1
raven==6.10.0
redis==4.0.2
requests==2.26.0
user-agents==2.2.0
websocket-client==1.2.3
yekta-config==0.2.1
yekta-metrics==4.0.0
