<!DOCTYPE html>
<html>
  <head>
    <title>DateTime Form</title>
  </head>
  <body>
    <h1>Enter Start and End Datetime and Eshgh kon</h1>
    <form action="{{ redirect_url }}" method="get">
      <label for="start_date">Start Datetime:</label>
      <input type="datetime-local" id="start_date" name="start_date"><br><br>
      <label for="end_date">End Datetime:</label>
      <input type="datetime-local" id="end_date" name="end_date"><br><br>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>




